:root {
    /* --vp-c-brand: rgb(255, 115, 64);
    --vp-c-brand-light: rgb(255, 87, 25);
    --vp-c-brand-lighter: rgb(255, 115, 64);
    --vp-c-brand-dark: #ff622d;
    --vp-c-brand-darker: rgb(226, 60, 0);
  
    --vp-c-sponsor: #fd1d7c;

    --vp-font-family-base:
  --vp-font-family-mono: 
    */

    /* Títulos Hero Name */
    --vp-home-hero-name-color: orange;


}


/* ESTILOS DE CHIPS DE PATRONES DE DISEÑO */

.design-patterns-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 1.5rem;
  margin: 2rem 0;
}

.pattern-card {
  padding: 1.5rem;
  border-radius: 12px;
  background: var(--vp-c-bg-soft);
  border-left: 5px solid #646cff;
  transition: all 0.2s ease;
}

.pattern-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  border-left-color: #535bf2;
}
